{% extends 'base.html.twig' %}

{% form_theme formCommande  'bootstrap_4_layout.html.twig' %}

{#   {% form_theme form _self %} #}

{% import _self as formMacro %}
{% macro printBilletRow(formBillet) %}
	<div class="perso">

		{{ form_row(formBillet.nom) }}
		{{ form_row(formBillet.prenom) }}
		{{ form_row(formBillet.typeBillet) }}
		{{ form_row(formBillet.pays) }}
		{{ form_row(formBillet.dateNaissance) }}
		{{ form_row(formBillet.tarifReduit) }}

	</div>
{% endmacro %}

{% block body %}

    <h1>
		Réserver vos billets pour le musée
    </h1>

    {{ form_start(formCommande, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(formCommande.dateVisite) }}

	<h3>Billets</h3>

	<div class="js-billet-wrapper"
		 data-billetprototype="{{ formMacro.printBilletRow(formCommande.billets.vars.prototype)|e('html_attr') }}"
		 data-index="{{ formCommande.billets|length }}"
		 >

        {{ form_widget(formCommande.billets) }}


        <a href="#" class="js-billet-add">
            Ajouter un billet
        </a>
	</div>

    <button type="submit" class="btn btn-success">
     	Réserver
     </button>

    {{ form_end(formCommande) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
        (function ($) {
            $(document).ready(function() {

                var $wrapper = $('.js-billet-wrapper');

                $wrapper.on('click', '.js-billet-add', function(e) {
                    e.preventDefault();

                    // Get the data-prototype explained earlier
                    var billetprototype = $wrapper.data('billetprototype');

                    // get the new index
                    var index = $wrapper.data('index');
                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm = billetprototype.replace(/__name__/g, index);
                    // increase the index with one for the next item
                    $wrapper.data('index', index + 1);
                    // Display the form in the page before the "new" link
                    $(this).before(newForm);
                });
            });
        })(jQuery);
	</script>

{% endblock %}