{% extends 'base.html.twig' %}

{% form_theme formCommande  'bootstrap_4_layout.html.twig' %}

{% form_theme formCommande _self %}

{% block body %}

    <h1>
    	{% if modifyMode %}
     		Modifier votre commande
     	{% else %}
     		Réserver vos billets pour le musée
     	{% endif %}
    </h1>

    {{ form_start(formCommande, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(formCommande.dateVisite) }}

    <button type="submit" class="btn btn-success">
     	{% if modifyMode %}
     		Enregistrer la modification de la commande
     	{% else %}
     	Réserver
     	{% endif %}
     </button>

    {{ form_end(formCommande) }}

{% endblock %}

{% block _ad_billets_widget %} 
	<p> Billet i </p>

{{ form_widget(formCommande)}}

<div class="form-group">
	<button type="button" id=ad-billet class="btn btn-primary">Ajouter un billet</button>
</div>

{% endblock %}

{% block _ad_billets_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _ad_billets_entry_widget %}
	<div class="form-group">
		<div class="row">
			{{form_widget(form.nom)}}			
		</div>
		<div class="row">
			{{form_widget(form.prenom)}}			
		</div>
		<div class="row">
			{{form_widget(form.typeBillet)}}			
		</div>
		<div class="row">
			{{form_widget(form.pays)}}			
		</div>
		<div class="row">
			{{form_widget(form.dateNaissance)}}			
		</div>
		<div class="row">
			{{form_widget(form.tarifRéduit)}}			
		</div>
	</div>
{% endblock %}