{% extends 'base.html.twig' %}

{% form_theme formCommande  'bootstrap_4_layout.html.twig' %}

{# {% form_theme formCommande _self %} #}

{#   {% form_theme form _self %} #}

{% import _self as formMacro %}
{% macro printBilletRow(formBillet) %}
	<div class="perso" id="block_{{id}}">
		{{ form_row(formBillet.nom) }}
		{{ form_row(formBillet.prenom) }}
		{{ form_row(formBillet.typeBillet) }}
		{{ form_row(formBillet.pays) }}
		{{ form_row(formBillet.dateNaissance) }}
		{{ form_row(formBillet.tarifReduit) }}
		<div>
			<button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">Supprimer ce billet</button>
		</div>
	</div>
{% endmacro %}

{% block body %}

    <h1>
    	{# {% if modifyMode %}
     		Modifier votre commande
     	{% else %} #}
     		Réserver vos billets pour le musée
     	{# {% endif %} #}
    </h1>

    {{ form_start(formCommande, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(formCommande.dateVisite) }}

    {{ form_row(formCommande.billets) }}

    <button type="submit" class="btn btn-success">
     	{# {% if modifyMode %}
     		Enregistrer la modification de la commande
     	{% else %} #}
     		Réserver
     	{# {% endif %} #}
     </button>

    {{ form_end(formCommande) }}

{% endblock %}

{% block _ad_billets_widget %} 
	<p> Billet i </p>

{{ form_widget(form)}}

<div class="form-group">
	<button type="button" id=ad-billet class="btn btn-primary">Ajouter un billet</button>
</div>

{% endblock %}

{% block _ad_billets_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _ad_billets_entry_widget %}
	<div class="form-group" id="block_{{id}}">
		<div class="row">
			{{form_widget(form.nom)}}			
		</div>
		<div class="row">
			{{form_widget(form.prenom)}}			
		</div>
		<div class="row">
			{{form_widget(form.typeBillet)}}			
		</div>
		<div class="row">
			{{form_widget(form.pays)}}			
		</div>
		<div class="row">
			{{form_widget(form.dateNaissance)}}			
		</div>
		<div class="row">
			{{form_widget(form.tarifRéduit)}}			
		</div>
		<div>
			<button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">Supprimer ce billet</button>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">

	(function ($) {
            $(document).ready(function() {
                var $wrapper = $('.js-billet-wrapper');
                $wrapper.on('click', '.js-billet-add', function(e) {
                    e.preventDefault();
                    // je récupère le data-prototype 
                    var billetprototype = $wrapper.data('billetprototype');
                    // je récupère l'index
                    var index = $wrapper.data('index');
                    // Je remplace '__name__' dans le HTML du prototype 
                    // par un nombre basé sur le nombre de billets 
                    var newForm = billetprototype.replace(/__name__/g, index);
                    // j'incrémente l'index
                    $wrapper.data('index', index + 1);
                    // J'injecte ce code au sein de la div js-billet-wrapper avant le bouton "nouveau billet"
                    $(this).before(newForm);
                });
            });
        })(jQuery);
</script>

{% endblock %}