{% extends 'base.html.twig' %}

{% form_theme formCommande  'bootstrap_4_layout.html.twig' %}

{% import _self as formMacro %}

{% macro printBilletRow(formBillet) %}
	<div class="js-billet" id="">

		{{ form_row(formBillet.nom) }}
		{{ form_row(formBillet.prenom) }}
		{{ form_row(formBillet.typeBillet) }}
		{{ form_row(formBillet.pays) }}
		{{ form_row(formBillet.dateNaissance) }}
		{{ form_row(formBillet.tarifReduit) }}
		<div>
			<button type="button" data-action="delete" data-target="#formBillet_" class="btn btn-danger js-supprimer-billet">Supprimer ce billet</button>
		</div>
	</div>
{% endmacro %}

{% block body %}

    <h1>
    	{# {% if modifyMode %}
     		Modifier votre commande
     	{% else %} #}
     		Réserver vos billets pour le musée
     	{# {% endif %} #}
    </h1>

    {{ form_start(formCommande, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_errors(formCommande) }}

    {{ form_row(formCommande.dateVisite) }}

    

    <div 
    	class="form-group js-billet-wrapper"
    	data-billetprototype="{{ formMacro.printBilletRow(formCommande.billets.vars.prototype)|e('html_attr') }}"
		data-index="{{ formCommande.billets|length }}"
    >
        <p> Ici, vous pouvez ajouter vos billets </p> 
    	{{ form_widget(formCommande.billets) }}

		<button type="button" class="btn btn-primary js-billet-add">
			<a href="#">
				Ajouter un billet
			</a>
		</button>

	</div>

    <button type="submit" class="btn btn-success">
     	{# {% if modifyMode %}
     		Enregistrer la modification de la commande
     	{% else %} #}
     		Réserver
     	{# {% endif %} #}
     </button>

    {{ form_end(formCommande) }}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">

		(function ($) {
            $(document).ready(function() {
                // je définis ma div dont la classe est js-billet-wrapper
                var $wrapper = $('.js-billet-wrapper');

                // lorsque je clique sur le bouton ajouter un billet, je vais agir sur cette div
                $wrapper.on('click', '.js-billet-add', function(e) {
                    e.preventDefault();

                    // je récupère le data-prototype 
                    var billetprototype = $wrapper.data('billetprototype');

                    // je récupère l'index
                    var index = $wrapper.data('index');

                    // Je remplace '__name__' dans le HTML du prototype par un nombre basé sur le rang du billet dans le tableau de billets
                    var newForm = billetprototype.replace(/__name__/g, index);

                    // j'incrémente l'index 
                    $wrapper.data('index', index + 1);

                    // Je place mon nouveau sous-formulaire devant la div js-billet-wrapper dont l'index a été incrémenté
                    $(this).before(newForm);

                    //Je gère le bouton supprimer
                    $wrapper.on('click', '.js-supprimer-billet', function(e) {
                        $(this).closest('.js-billet')
                            .fadeOut()
                            .remove();
                    });
                });
            });
        })(jQuery);

</script>

{% endblock %}