<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Louvre</title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    </head>
    <body>
    	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="{{ path('home') }}">Musée du Louvre</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarColor01">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('billetterie') }}">Billetterie</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('infospratiques') }}">Infos pratiques</a>
		      </li>
		    </ul>
		  </div>

		</nav>
		<div class="container">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Louvre_Museum_icon_1.svg/550px-Louvre_Museum_icon_1.svg.png">
	
		    <h1>Merci d'avoir réservé vos places pour le musée du Louvre. Voici le récapitulatif de votre commande</h1>

		    <h2> Date de la visite : {{commande.dateVisite|date('Y/m/d')}} </h2>

		    <h3> Référence de votre commande n° {{commande.reference}} </h3>

		    <table class="table table-hover">
			  <thead>
			    <tr>
			      <th scope="col">Nom</th>
			      <th scope="col">Prénom</th>
			      <th scope="col">Type de billet</th>
			      <th scope="col">Prix</th>
			      
			    </tr>
			  </thead>
			  <tbody>
			  	{% for billet in commande.billets %}
			    <tr class="table-active">
			      <td>{{billet.nom}}</td>
			      <td>{{billet.prenom}}</td>
			      {% if billet.typeBillet == 1 %}
			      	<td>Journée</td>
			      {% elseif billet.typeBillet == 2 %}
			      	<td>Demi-journée</td>
			      {% endif %}
			      <td> {{billet.prix}}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table> 


			<h3> Total : {{commande.prix}} </h3>

			<p>
				<br>N'oubliez pas de vous munir de vos billets imprimés, et le cas échéant, de vos justificatifs de tarif réduit.
				<br>Aucune entrée ne sera admise sans ces documents.
				<br>Bonne visite !
			</p>


		</div>
      
		<script src="{{ asset('js/jquery.min.js') }}"></script>

    </body>

    <footer class="page-footer dark">
	  <div class="footer-copyright text-center py-3 mdb-color white-text">
	  	<p class="text-white-50 bg-dark">© Musée du Louvre 2018.</p>
	  </div>
	</footer>
</html>






