{% extends 'base.html.twig' %}

{% block body %}

    <h1>Récapitulatif de votre commande :</h1>

    <h5> Date de la visite : {{commande.dateVisite|date("m/d/Y") }} </h5>

    <h5> Référence de commande : {{commande.reference}} </h5>

    <table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">Nom</th>
	      <th scope="col">Prénom</th>
	      <th scope="col">Type de billet</th>
	      <th scope="col">Prix</th>
	      
	    </tr>
	  </thead>
	  <tbody>
	  	{% for billet in commande.billets %}
	    <tr class="table-active">
	      <td>{{billet.nom}}</td>
	      <td>{{billet.prenom}}</td>
	      {% if billet.typeBillet == 1 %}
	      	<td>Journée</td>
	      {% elseif billet.typeBillet == 2 %}
	      	<td>Demi-journée</td>
	      {% endif %}
	      <td> 
	      		{{billet.prix}} €	      	
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table> 

	<h5> Prix total : {{commande.prix}} €</h5>


	<h1>Paiement de votre commande : </h1>
    <div>
        Vous êtes sur le point de payer votre réservation 
            <form action="{{ path('order_checkout', { 'id': commande.id }) }}" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_DMiADShJSyoZEBEHabm71UC1"
                                data-amount="{{commande.prix * 100}}"
                                data-name="Réglement de {{commande.billets|length}} billet(s)"
                                data-description="Musée du Louvre"
                                data-image="{{ asset('images/louvre.jpg') }}"
                                data-locale="{{app.request.locale}}"
                                data-label="Payer par carte"
                                data-currency="eur">
                        </script>
            </form>
            <div>

		      {% for message in app.session.flashbag.get('error') %}

		        <p>Message flash : {{ message }}</p>

		      {% endfor %}

	    </div>
    </div>
{% endblock %}




